@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Title</h2>

<div class="jumbotron">
    <h1>Welcome to the Extraction Web</h1>
    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Supported Documents</h2>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Data Translations</h2>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Application Logs</h2>
        <p><a class="btn btn-default" href="">Access Logs &raquo;</a></p>
    </div>
</div>