@{
    ViewBag.Title = "Upload";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to upload PDF files.</p>

@*call the create action of the file controller in order to start file upload*@
<p>@Html.ActionLink("Upload", "Create", "File")</p>
