@model IEnumerable<ExtractionStore.Models.File>

<div id="fileList">
    @foreach (var item in Model)
    {
        <div>
            <h4>@item.Name&emsp;@item.Type&emsp;@item.Data</h4>
            <hr />
        </div>
    }
</div>