@model IPagedList<ExtractionStore.Models.File>

<div id="fileList">

    <div class="pagedList" data-exst-target="#fileList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
        PagedListRenderOptions.MinimalWithItemCountText)
    </div>

    @foreach (var item in Model)
    {
        <div>
            <h4>@item.FileName&emsp;@item.ContentType&emsp;@item.Content&emsp;@item.UserName</h4>
            <hr />
        </div>
    }
</div>