@model IPagedList<ExtractionStore.Models.File>

<div id="fileList">

    <div class="pagedList" data-exst-target="#fileList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
        PagedListRenderOptions.MinimalWithItemCountText)
    </div>

    @foreach (var item in Model)
    {
        <div>
            <h4>@item.Name&emsp;@item.Type&emsp;@item.Data</h4>
            <hr />
        </div>
    }
</div>