@model IPagedList<ExtractionStore.Models.File>

@{
    ViewBag.Title = "Analysis Page";
}

<form method="get" action="@Url.Action("Index")"
      data-exst-ajax="true" data-exst-target="#fileList">

    <input type="search" name="searchTerm" data-exst-autocomplete="@Url.Action("Autocomplete")" />
    <input type="submit" value="Search By Name" />

</form>

@Html.Partial("_Files", Model)